<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vinyl</title>
  </head>
  <body>
    <h1>Sign in to Vinyl!</h1>

    <form class="login" action="/handle-sign-in" method="post">
      <input class="username" type="text" value="Username" />
      <input class="password" type="text" value="Password" />
      <button type="submit">Submit</button>
    </form>
  </body>
  <script></script>
</html>
