<!DOCTYPE html>
<html>
<head>
  <title>Vinyl></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <%- include('header') %>
  
  <h1> Hello from the page <%- username %></h1>
  <h1>BOOP</h1>

</body>
</html>
